
// Body Colors
$body-txt-color: #646360;
$body-bg-color: #eee;
$selection-color: #b3d4fc;
$link-txt-color: #03a9f4;
$centered:  0 auto;
// Shadows
$shadow-inset: inset 0 2px 2px 0 rgba(0,0,0,.14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadow-3: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
$shadow-4: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
$shadow-6: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
$shadow-8: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

// Font Sizes
$mf-font-size: 1rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

// Margin & Paddings
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;

// Colors
$mf-input-color: #333 !default;
$mf-border-color: #999 !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: #000000 !default;
$mf-error-color: #d9534f !default;

// Animation
$mf-transition-speed: 0.28s !default;

// Header
$header-bg-color: #000000;
.content {

    .logo {
        width: 37vh;
        margin: 0 auto;
          .logo-git {
            height: 41vh;
            -webkit-filter: brightness(100%);
            -moz-filter: brightness(100%);
            filter: brightness(100%);
            transition: all 0.3s ease;
            cursor: pointer;
          &:hover {
            -webkit-filter: brightness(0);
            -moz-filter: brightness(0);
            filter: brightness(0);
          }
        }
    }
  }
.form-home {

      width: 60vh;
      margin: $centered;
    }
    .search_input {
      width: 60vh;
    }

    .mat-form-field {
      width: 65vh;
      margin-top: 7vh;
    }


.button {
	position: relative;
	background: currentColor;
	border: 1px solid currentColor;
	font-size: ($mf-font-size * 1.1);
	color: lighten($mf-focus-color, 10%);
	margin:( $mf-gap * 2) 0;
	padding: ($mf-gap / 2) ($mf-gap * 2);
	cursor: pointer;
	transition: background-color $mf-transition-speed ease, color $mf-transition-speed ease, box-shadow $mf-transition-speed ease;
	overflow: hidden;
	box-shadow: $shadow-2;

	span {
		color: #fff;
		position: relative;
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		background: darken($mf-focus-color, 40%);
		border: 50vh solid darken($mf-focus-color, 20%);
		width: 30vh;
		height: 30vh;
		border-radius: 50%;
		display: block;
		top: 50%;
		left: 50%;
		z-index: 0;
		opacity: 1;
		transform: translate(-50%, -50%) scale(0);
	}

	&:hover {
		color: $mf-focus-color;
		box-shadow: $shadow-6;
	}
}

.button-container {
	text-align: center;
}
:host/deep/ .mat-form-field-ripple  {
  background-color: #000000;
  color: #000000;
}
:host/deep/ .mat-focused .mat-form-field-label {
  color: #000000;
}
