<div class="content">
  <div class="logo">
    <img class="logo-git" src="../assets/github-logo.svg" alt="git-hub-api">
  </div>

  <div class="form-home">
    <form novalidate  #myForm="ngForm" (ngSubmit)="send(myForm)" novalidate>
      <mat-form-field class="example-full-width">
        <input class="search_input" matInput placeholder="Search User" [(ngModel)]="profileName" appLowerCase name="profileName" required>
        
      </mat-form-field>
      <div class="button-container">
          <button class="button" type="submit" [disabled]="myForm.invalid || myForm.pending">
          <span>Search</span>
        </button>
      </div>
    </form>
    
  </div>
</div>