.search-dealing {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 3px 7px 1px 7px;
  margin-left: 30px;
  color: #fff;
}
.search-icon {
  position: absolute;
  margin-top: 8px;
}
